/*
1.top header css
2.main_menu_area css
3.slider_area css

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*====custom css====*/
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #626262;
	font-weight: 400;
	line-height:1.6;
	overflow-x: hidden;
}
p{
	font-style:normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a, 
h6 a {
	font-family: 'Saira', sans-serif;
	font-size:21px;
	color:#232323;
}
ul { 
	list-style: none; 
}
ul li { 
	list-style: none;
}
a { 
	color:#626262;
	text-decoration: none;
}
a:hover{
	
}

/*===top_header_area css===*/

.top_header_area {
	padding: 12px 0;
	background-color: #ff3c00;
}
.top_left_address span,
.top_left_address a {
	margin-right: 20px;
	color: #fff;
}

.top_left_address span i {
	margin-right: 2px;
	color: #fff;
}
.top_left_address a i {
	margin-right: 4px;
	color: #fff;
}

/*===top_right_info css===*/
.top_right_info {
	text-align: right;
}
.top_right_info a {
	margin-left: 22px;
	color: #fff;
}
.top_right_info a i {
	color: #0c3eb9;
	margin-right: 4px;
	color: #fff;
}

/*===main_menu_css===*/
.logo_area {
	margin-top: 30px;
}
.main_menu_area {}
.main_menu {}
.techit_menu_item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.main_menu ul {
	text-align: right;
	
}
.main_menu ul li {
	display: inline-block;
	list-style: none;
}
.main_menu ul li a {
	display: block;
	margin: 30px 21px;
	color: #4a4c59;
	text-transform: capitalize;
	transition: .3s all ease;
}
.main_menu ul li a:hover {
	color: #ff3c00;
}
.main_menu ul li:last-child a {
	margin-right: 0;
}
.techit_search_btn {
	background: #ff3c00;;
	display: inline-block;
	height: 46px;
	width: 46px;
	text-align: center;
	line-height: 46px;
	border-radius: 50%;
	margin: 0 20px;
}
.techit_search_btn i {
	color: #fff;
	font-size: 18px;
}
.techit_menu_btn a {
	background: #ff3c00;
	display: inline-block;
	padding: 9px 21px;
	text-transform: capitalize;
	color: #fff;
	border-radius: 4px;
	transition: .5s all ease;
	border: 1px solid #ff3c00;
	
}
.techit_menu_btn a:hover {
	background-color: #fff;
	color: #ff3c00;
	border: 1px solid #ff3c00;
}


/* ===slider_area css=== */

.slider_image {
	background-size: cover;
	background-repeat: no-repeat;
}
.slider_content {
	height: 700px;
	width: 54%;
	position: relative;
	

}
.slider_content_inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
.slider_content_text {
	margin-left: 180px;
}
.slider_content_text h4 {
	font-size: 24px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 400;
	border-top: 1px solid #f00;
	width: 33%;
}
.slider_content_text h2 span {
	color: #ff3c00;
}
.slider_content_text h2 {
	font-size: 71px;
	color: #fff;
	font-weight: 700;
	text-transform: capitalize;
}
.slider_content_text p {
	color: #fff;
	padding: 20px 0;
}
.slider_content_text a {
	padding: 10px 30px;
	display: inline-block;
	background: #005aff;
	color: #fff;
	font-size: 16px;
	border-radius: 30px;
	margin-right: 25px;
	transition: .5s all ease;
}
.slider_content_text a:hover {
	background-color: #fff;
	color: #24a3d8;

}
.slider_btn a {
	padding: 17px 75px 17px 17px;
	display: inline-block;
	background: #ff3c00;
	color: #fff;
	font-size: 16px;
	border-radius: 30px;
	margin-right: 25px;
	transition: .5s all ease;
	position: relative;
	text-transform: uppercase;
	position: relative;

	z-index: 9999;
}
.slider_btn a:hover {
	color: #ff3c00;
}
.slider_btn a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: 30px;
	background-color:#fff;
	transition: .5s all ease;
	z-index: -99;
}
.slider_btn a:hover::before {
	height: 100%;
	width: 100%;
	
	transition: .5s;


}
.slider_btn a i {
	text-align: center;
	height: 44px;
	width: 45px;
	background: #fff;
	color: #ff3c00;
	font-size: 25px;
	border-radius: 50%;
	display: inline-block;
	line-height: 1.8;
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(-50%, -50%);
	transition: .5s all ease;
}
.slider_btn a:hover i {
	background-color: #ff3c00;
	color: #fff;
}

/*=== slick slider arrow css ===*/
.slick-prev,
.slick-next {
	background: transparent;
	border: 2px solid #FF3C00;
	height: 52px;
	width: 52px;
	border-radius: 5px;
	font-size: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	line-height: 52px;
	transition: .5s all ease;
	opacity: 0;

}
.slick-prev:hover,
.slick-next:hover {
	background-color: #FF3C00;
	color: #fff;
}
.slick-prev {
	left: 20px;
	right: auto;
}
.slick-next {
	right: 20px;
	left: auto;
}
.slick-prev::before,
.slick-next::before {
	content: '\ea94';
	font-family:IcoFont;
	font-size: 30px;
	color: #fff;

	
}
.slick-prev::before {
	content: '\ea93';
}
.slick-next::before {
	content: '\ea94';
}
.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next{
	opacity: 1;
}


/*=== slick-dots css ===*/
.slick-dots {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}
.slick-dots li {
	display: inline-block;
}
.slick-dots li button {
	border: none;
	background: #ddd;
	margin: 5px;
	height: 30px;
	width: 30px;
	border-radius: 30px;
	line-height: 30px;
}
.slick-dots li.slick-active button {
	background-color: #000;
	color: #fff;
}

/*about_area css*/
.about_area {
	padding: 100px 0;
}
.about_box {
	padding: 40px;
	background-color: #000;
	color: #fff;
	margin-bottom: 100px;
	
}
.about_box_icons {
	float: left;
	margin-right: 20px;
}
.about_box_icons i {
	font-size: 50px;
}
.about_box_content {
	overflow: hidden;
}
.about_box_content h2 {
	color: #fff;
}
.about_box_content p {}
.about_box.right_box {
	background-color: #f00;
	color: #fff;
	margin-left: -24px;
}

/*about_us_area css*/

.about_us_area {}
.about_image {}
.about_image img {}
.about_content {
	width: 76%;
}
.about_content h4 {
	color: #f00;
	font-size: 18px;
	font-weight: 600;
}
.about_content h2  {
	font-size: 35px;
	font-weight: 700;
	padding: 10px 0;
}
.about_content h2 span {
	color: #f00;
}
.about_content p {}
.about_thumb {}
.about_img {}
.about_img img {}
.about_img span {}